/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.jumbotron {
	background-color: #f4511e;
	color: #ffffff;
}

.btn-primary {
	background-color: #575a5e;
	width: 130px;
	color: #ce9e1a; 
	float: right;
}

.btn-primary:hover {
	background-color: #575a5e;
	width: 130px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2) inset;
	font-size: 1.1em;
}

.btn-primary:active {
	background-color: #575a5e;
	width: 130px;
}

.btn-primary:focus {
	background-color: #575a5e;
	width: 130px;
	
}
