<html>  
<head>
			<style type="text/css">
			.jumbotron {
					background-color: #f4511e;
					color: #ffffff;
					height: 200px;
					}
					
			.gridStyle {
    			    border: 1px solid rgb(212,212,212);
  				    width: 100%; 
  				   height: 50%;
  				   
					}
					.ui-grid-header-cell {
  background-color: #f4511e;
  color:white;
}
			
			</style>
    </head>
    <body>
    	<div class="jumbotron text-center">
    		<h1>Rice Mills List <a class="navbar-brand" href="#" style="color: #fff; padding-left:100px">Home</a></h1>
       	</div>
       	
       	 <input type="text" placeholder="enter rice mill name" ng-model="companyName">
       	 <input type="button" value="search" ng-click="searchCompany()">
       	 <br>
       	 
       	<br>
        <div class="grid" ui-grid="gridOptions" ui-grid-pagination></div>
        
    </body>
</html>

