<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
.modal-dialog {
    position: absolute;
    top: 50%;
    margin-top: -10%;
    left: 50%;
    margin-left: -18%;
}
</style>
</head>
<body>
	<div class="row">
		<div style=" text-align: center;">
			<h2><b>Login To Your Account</b></h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div style="margin:auto; width:70%;">
			<input name="username" id="username" ng-model="username" type="text" class="form-control" placeholder="UserName">
		</div>
	</div>
	<br>
	<div class="row">
		<div style="margin:auto; width:70%;">
			<input name="password" id="password" ng-model="password" type="password" class="form-control" placeholder="password">
		</div>
	</div>
	<br>
	<div class="row">
		<div style="margin:auto; width:70%;">
			<button type="submit" class="btn btn-primary" ng-click="login()"  style="color: #ce9e1a;" ><b>LOGIN</b></button>
			<button class="btn btn-primary" ng-click="cancel()" style="color: #ce9e1a; float:right"><b>CANCEL</b></button>
			
		</div>
	</div>
</body>
</html>